
html, body{
    margin: 0;
    padding: 0;
    background: blueviolet;
    font-family: 'PT Serif', serif;
}

 ul li{
     margin-bottom: 5px;
    border-top: 1px solid black;
}
.pricing-grid{
max-width: 750px;
margin:0 auto;
display: flex;
align-items: center;
 
}

.plan ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.plan{
    background: rgba(225, 255, 255, 0.5);
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    flex:1;
     display: flex;
     flex-wrap: wrap;
     

}

.plan > * {

    flex: 1 1 100%;
}
 
 a{
    background-color: yellow;
    width: auto;
    height: 30px;
    color: black;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

a span{
  display: block;
  width: 100%;
}

.price{
    font-weight: bold;
    font-size: 30px;
}